<div class="container-fluid">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
        	<%= render "shared/flash_message" %>
	        <div id="page-wrapper">
                <div class="container-fluid">
            		<h1 class="page-header" id="k"> Beacons </h1>	
					<div class="well">
					  <%= link_to "New Beacon", new_beacon_path, class: "btn btn-primary" %>
					</div>

					<h3 style="float: left;">Unregistered List from Kontakt</h3>
					<table class="table table-bordered table-striped" id="unregistered-list">
					  <thead>
					    <tr>
					      <th>Name</th>
					      <th>Unique Reference</th>
					      <th style="width: 19%;">&nbsp;</th>
					    </tr>
					  </thead>
					  <tbody>
					    <% if @unregistered_list.size == 0 %>
					      <tr>
					        <td colspan="8">No unregistered beacon found.</td>
					      </tr>
					    <% else %>
					      <% @unregistered_list.each do |beacon| %>
					        <tr>
					        	<td><%= beacon.name %></td>
							  	<td><%= beacon.unique_reference if  beacon.unique_reference.present? %></td>
						        <td>
						            <%= link_to "Register", new_beacon_path(:name => beacon.name,:unique_reference => beacon.unique_reference, :longitude => beacon.longitude, :latitude => beacon.latitude), method: :get, class: "btn btn-success col-md-12" %>
						        </td>
					        </tr>
					      <% end %>
					    <% end %>
					  </tbody>
					</table>

					<br>

					<h3>Registered List from Kontakt</h3>
					<table class="table table-bordered table-striped" id="registered-list">
					  <thead>
					    <tr>
					      <th>Unique Reference</th>
					      <th>Name</th>
					      <th>Store Name</th>
					      <th>Status</th>
					      <th>&nbsp;</th>
					      <th>&nbsp;</th>
					      <th>&nbsp;</th>
					    </tr>
					  </thead>
					  <tbody>
					    <% if @registered_list.size == 0 %>
					      <tr>
					        <td colspan="8">No Registered beacon found.</td>
					      </tr>
					    <% else %>
					      <% @registered_list.each do |beacon| %>
					        <tr>
							<td><%= beacon.unique_reference if  beacon.unique_reference.present? %></td>
										          <td><%= beacon.name %></td>
					          <td><%= beacon.store.name if beacon.store.present? %></td>
					          <td><%= beacon.current_status %></td>
					          <td>
					            <%= link_to "View Advertisements", beacon_path(beacon), class: "btn btn-priamry" %>
					          </td>
					          <td>
					            <%= link_to "Edit", edit_beacon_path(beacon), class: "btn btn-default" %>
					          </td>
					          <td>
					            <%= button_to "Delete", beacon, method: :delete, data: { confirm: "Are you sure you wish to delete #{beacon.name} ?" }, class: "btn btn-danger" %>
					          </td>
					        </tr>
					      <% end %>
					    <% end %>
					  </tbody>
					</table>

					<br>

					<h3>Other List</h3>
					<table class="table table-bordered table-striped" id="other-list"> 
					  <thead>
					    <tr>
					      <th>Unique Reference</th>
					      <th>Name</th>
					      <th>Store Name</th>
					      <th>Status</th>
					      <th>&nbsp;</th>
					      <th>&nbsp;</th>
					      <th>&nbsp;</th>
					    </tr>
					  </thead>
					  <tbody>
					    <% if @other_list.size == 0 %>
					      <tr>
					        <td colspan="8">No other beacon found.</td>
					      </tr>
					    <% else %>
					      <% @other_list.each do |beacon| %>
					        <tr>
							<td><%= beacon.unique_reference if  beacon.unique_reference.present? %></td>
										          <td><%= beacon.name %></td>
					          <td><%= beacon.store.name if beacon.store.present? %></td>
					          <td><%= beacon.current_status %></td>
					          <td>
					            <%= link_to "View Advertisements", beacon_path(beacon), class: "btn btn-priamry" %>
					          </td>
					          <td>
					            <%= link_to "Edit", edit_beacon_path(beacon), class: "btn btn-default" %>
					          </td>
					          <td>
					            <%= button_to "Delete", beacon, method: :delete, data: { confirm: "Are you sure you wish to delete #{beacon.name} ?" }, class: "btn btn-danger" %>
					          </td>
					        </tr>
					      <% end %>
					    <% end %>
					  </tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>