<h1> Add new advertisement </h1>

<%= form_tag :action => 'create' do %>

<p> <label for="advertisement_id">Advertisement ID </label>
<%= text_field 'advertisements', 'aId' %>
</p>


<p>
<label for="advertisement_category"> Category </label>
<%= text_field 'advertisements', 'aCategory' %>
</p>

<p>
<label for="advertisement_price"> Price </label>
<%= text_field 'advertisements', 'aPrice' %>
</p>

<p>
<label for="advertisement_description"> Description </label>
<%= text_field 'advertisements', 'aDescription' %>
</p>

<%= submit_tag "Create" %>
<% end -%>
<% link_to 'Back', {:action => 'list'} %>


