<div class="collapse navbar-collapse navbar-ex1-collapse">

    <ul class="nav navbar-nav side-nav">

        <li class="<%= 'active' if controller_name == 'dashboard' %>">

            <a href="<%= dashboard_path %>"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>

        </li>

        <% if policy(:report).index? %>
            <li class="<%= 'active' if controller_name == 'report' %>">
                <a href="<%= report_path %>"><i class="fa fa-fw fa-dashboard"></i> Report</a>
                <ul>
                    <li class="<%= 'active' if (controller_name == 'report' && action_name == 'store') %>"> 
                        <a href="<%= report_store_path %>"><i class="fa fa-fw fa-table"></i> Store</a>
                    </li>
                    <li class="<%= 'active' if (controller_name == 'report' && action_name == 'beacon') %>"> 
                        <a href="#"><i class="fa fa-fw fa-table"></i> Beacon</a> 
                    </li>
                    <li class="<%= 'active' if (controller_name == 'report' && action_name == 'advertisement') %>">
                        <a href="<%= report_category_path %>"><i class="fa fa-fw fa-table"></i>Category</a>\
                    </li>
                </ul>
            </li>
        <% end %>

        <% if policy(Store).index? %>

            <li class="<%= 'active' if controller_name == 'stores' %>">

                <a href="<%= stores_path %>"><i class="fa fa-fw fa-dashboard"></i> Stores</a>

            </li>

        <% end %>

        <% if policy(Category).index? %>

            <li class="<%= 'active' if controller_name == 'categories' %>">

                <a href="<%= categories_path %>"><i class="fa fa-fw fa-dashboard"></i> Categories</a>

            </li>

        <% end %>

        <% if policy(Beacon).index? %>

            <li class="<%= 'active' if controller_name == 'beacons' %>">

                <a href="<%= beacons_path %>"><i class="fa fa-fw fa-edit"></i> Beacons</a>

            </li>

        <% end %>

        <% if policy(Advertisement).index? %>

            <li class="<%= 'active' if controller_name == 'advertisements' %>">

                <a href="<%= advertisements_path %>"><i class="fa fa-fw fa-desktop"></i> Advertisements</a>

            </li>

        <% end %>

        <% if policy(User).index? %>

            <li class="<%= 'active' if controller_name == 'staffs' %>">

                <a href="<%= staffs_path %>"><i class="fa fa-fw fa-user"></i> Staffs</a>

            </li>

        <% end %>

    </ul>

</div>

<!-- /.navbar-collapse -->