<h1> Edit Beacon Information </h1>

<%= form_for @beacon, :url =>{:action => "update", :id =>@beacon} do |f| %>

<p>Beacon ID: <%= f.text_field 'bID' %></p>
<p>Store: <%= f.text_field  'bStore' %></p>
<p>Advertisement ID: <%= f.text_field  'aID' %></p>
<p>Category: <%= f.text_field  'bCategory' %></p>
<p>Number of Hits this week<%= f.text_field 'bHits' %></p>

<%= f.submit "Save changes" %>
<% end %>

<%= link_to 'Back', {:action => 'list' } %>