

<h1><%= @beacons.bID %></h1>

<p>
   <strong>Beacon ID: </strong> <%= @beacons.bID %><br />
   <strong>Store :</strong> <%= @beacons.bStore %><br />
   <strong>Category :</strong> <%= @beacons.bCategory %><br />
   <strong>Advertisement ID :</strong> <%= @beacons.aID %><br />
   <strong>Number of Hits this week :</strong> <%= @beacons.bHits %><br />
</p>

<%= link_to 'Back' , {:action => 'list'} %>