<div class="container-fluid">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <center><h1 class="page-header" id="k"> Our Mission </h1>
            <p class="lead">Bringing the Deals to You</a></p></center>

            <div class="wrapper">
                <div class="container-fluid">

                    <center><h1 class="page-header"> About us </h1></center>
                        <div class="col-lg-12">
                           
                            <div class="col-lg-12 ">
                                <p style="text-align: justify;">Shine Solutions was founded in 1997 by Software Developers for Software Developers, and has since grown to include UX/Designers and DevOps Engineers. </p>
                                <p style="text-align: justify;">This platform is designed to be a proof of concept for using BLE (bluetooth low energy) beacons to push supermarket pricing specials to a mobile device. The web management consoles manage the advertisements being pushed to the beacons and a mobile application that displays these advertisements. </p>
                                <p style="text-align: justify;"> As students studying Information Technology at RMIT University, we built this platform as part of our capstone project conjoined with Shine Solutions. </p>

                                <p style="text-align: justify;">Here's the team behind the code, </p>

                            </div> 
                           
                        </div>
                        
                   
                </div>
            </div>
		</div>
    </div>
    <br><br><br><br>
    <div class="row">
        <div class="col-lg-12">
            <div class="well">
                <div class="thumbnail col-lg-2 "> 
                    <img src="<%= asset_path('anto') %>" alt="Chania">
                </div>
                <div class="col-lg-9">
                    <p class="lead"> Anto Dominic </p>
                    <p> Known for his excellent Ruby on Rails skills! Working as our Architect Lead and backend developer, he has lead this team in a right direction.</p>
                    <p> LinkedIn : <a href="https://www.linkedin.com/in/antodoms/"> https://www.linkedin.com/in/antodoms/ </a></p>

                </div>
            </div>
             
            <div class="well">
                <div class="thumbnail col-lg-2"> 
                    <img src="<%= asset_path('jeremy') %>" alt="Chania">
                </div>
                <div class="col-lg-10">
                    <p class="lead"> Jeremy Kraa </p>
                    <p> Organizing sprints and keeping the team on track, Jeremy Kraa has our documents ready as progress develops with his exemplary managerial skills.</p>
                    <p> LinkedIn : <a href="https://www.linkedin.com/in/jeremy-kraa-202a79103/"> https://www.linkedin.com/in/jeremy-kraa-202a79103/ </a> </p>
                </div>
            </div>

            <div class="well">
                <div class="thumbnail col-lg-2 "> 
                    <img src="<%= asset_path('kuan') %>" alt="Chania">
                </div>
                <div class="col-lg-10">
                    <p class="lead"> Kuan Lu</p>
                    <p> Our mobile developer, Kuan Lu single handedly managed the android application to its functional order. </p>
                </div>
            </div>                          

            <div class="well">
                <div class="thumbnail col-lg-2 "> 
                    <img src="<%= asset_path('manu') %>" alt="Chania">
                </div>
                <div class="col-lg-10">
                    <p class="lead"> Manodha Thanapathy</p>
                    <p> Exceptional eye for catching bugs! Manu, our skillful Testing Engineer has kept our platform functional and uniform. </p>
                    <br>
                    <p> LinkedIn : <a href="https://www.linkedin.com/in/manodha-thanapathy-a647b1b6/"> https://www.linkedin.com/in/manodha-thanapathy-a647b1b6/ </a> </p>
                </div>
            </div> 

            <div class="well">
                <div class="thumbnail col-lg-2 "> 
                    <img src="<%= asset_path('tanya') %>" alt="Chania">
                </div>
                <div class="col-lg-10">
                    <p class="lead"> Tanya Srinidhi</p>
                    <p> The striking web-developer! Tanya has a valuable organised way to commit functionalities and features to the project. </p>
                    <br>
                    <p> LinkedIn : <a href="https://www.linkedin.com/in/tanya-srinidhi-4b8957139/"> https://www.linkedin.com/in/tanya-srinidhi-4b8957139/ </a> </p>
                </div>
            </div>
        </div>
        
    </div>

</div>                                                                                                                                                                                                                                                                                                                                                                                                  