<!DOCTYPE html>
<html>
  <head>
    <title>Beaconoid</title>
    <%# stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css' %>
  	<%# javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js' %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= csrf_meta_tags %>
  </head>

  <body>
    <% if current_user %>
      <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
          <!-- Brand and toggle get grouped for better mobile display -->
          <%= render "shared/header" %>
          <%= render "shared/sidebar" %>
        </nav>

       	<div id="page-wrapper">
      	  <%= yield %>
      	</div>

        <% render "shared/footer" %>
      </div>
    <!-- /#wrapper -->

    <% else %>
        <div class="container">
          <%= yield %>
        </div>
    <% end %>
  </body>
</html>

